


html{
    font-family: 'Montserrat', sans-serif;
    background-color:#323232 ;
    width: 100%;

    
}
body{
  margin: 0;
   padding: 0;
   background-color: #323232;
   width: 100%;
   
   
}
.cajatitulo{
    background-color: #d7d7d7;
    opacity: 0.8;
    width: 100%;
    height: 45px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.titulo{
    padding-top: 0.7%;
    font-size: 35px;
    text-align: center;
   
  
    
    
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: black;
    margin: 0;
    margin-top: 15px;
    height: 80px;
    padding: 0;
    
}


.menu{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    right: 50px;

}

.lista__Menu{
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    margin-right: 20px;
    
}
.links1{
    color: #d7d7d7;
    text-decoration: none;
    font-size: 22px;
    transition: all 300ms;
}
.links{
    color: #d7d7d7;
    text-decoration: none;
    font-size: 22px;
    transition: all 300ms;
      
}


.logo{
    margin: 10px 10px 10px 35px;
    width: 80px;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 7%;
    top: 7%;
    line-height: 80px;
    margin-right: 40px;
    
    display: none;
}
#check{
    display: none;
}
.hambur{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 7%;
}
.main1{
    width: 90%;
    height: 0%;
    margin: 80px 80px 35px 45px;
    

}
.sef{
    animation-name: animacion2;
    animation-duration: 2s;
    margin-top: 35px;
}
.sef p{
    font-size: 30px;
    color: #d7d7d7;
    text-align: center;
    opacity: 60%;
    z-index: 9;
    
  
}
.sef h1{
    font-size: 40px;
    color: #0b0b0b;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    opacity: 90%;
}
.slide{
    z-index: 10;
    animation-name: animacion5;
    animation-duration: 3s;
}
@keyframes animacion5 {
    from{
        filter: saturate(0);
        
    }
    to{
        filter: none;
    }
}

.main2{
    height: 900px;
    padding-top: 50px;
    z-index: 50;
    
    
    

}
.radius{
    border-radius: 20px;
}
.texto{
    display: inline-block;
    margin-left: 20%;
    
    margin-top: 5%;
    color: #0b0b0b;
    padding-top: 25px;
    position: relative;
    
    font-size: 40px;
    animation-duration: 2s;
    animation-name: animacion2;
    
    
}
@keyframes animacion2 {
    from{
        transform: translateX(-115%);
        opacity: 50%;
        
    }
    to{
        transform: translateX(0%);
        opacity: 100%;
    }
}

.texto__Parrafo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 50px 0 50px;
    gap: 50px;
    font-size: 20px;
    color: #0b0b0bc7;
    
    
    
    
    
    
}

.div1 p{
    width: 80%;
    font-size: 20px;
    color: #d7d7d7;
    margin-left: 10%;
    padding-top: 15px;
    margin-bottom: 10%;
    text-align: center;
    
}

.div2 p{
    
    padding-top: 20px;
    text-align: center;
}


.div2 img{
    border-radius: 5px;
}
.div3 img{
    
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    
    
}
.div3 p{
    text-align: center
    
    
} 
.div4con{
    padding-top: 100px;
    width: 100%;
    gap: 50px;
    
}
.div4{
    width: 100%;
    height: 100%;
}
.div4img img{
   width: 100%;
   border-radius: 5px;
}

.div4p{
    padding-top: 50px;
    font-size: 18px;
}

.sec{
    
   
    width: 100%;
    margin: 0;
    height: 100%;
    background: rgb(92,92,92);
    background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(235,234,234,1) 89%);;
    
}

.ola{
    width: 100%;
    transform: translateY(10px);

}

@media (hover: hover) {
    a:hover{
        text-decoration: #d7d7d7;
        color: #35392d;
    }
    
    
    .ir a:hover{
        text-decoration: #d7d7d7;
        color: #35392d;
    } 
    .links1:hover{
        transform: scale(1.09);
        font-size: 23px;
        padding-inline: 19px;
    }
    .links:hover{
        transform: scale(1.09);
        font-size: 23px;
        padding-inline: 19px;
    }  
}






/*nuestro equipo*/



  .gridequipo{
    margin: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    row-gap: 50px;
  }

.alphaimg{
    position: relative;
    
    width: 100%;
    height: 90%;
    border-radius: 10px;
}


.sonyalphalink h1{
    text-align: center;
    color: #0b0b0b;
}
.sonyalphalink p {
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
    width: 100%;
  
}

.sonyalphalink p a{
    color: #d7d7d7;
    font-size: 18px;

}
.lentesony50{
    z-index: 20;
}

.lentesony50link h1{
    text-align: center;
    color: #0b0b0b;

}
.lentesony50link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;

}
.lentesony50link p a{
    color: #d7d7d7;
    font-size: 18px;

}

.lentesony50img{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    
}

.lente14img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: relative;
   
}
.lentesony14{
    border-radius: 10px;
}

.lentesony14link h1{
    text-align: center;
    color: #0b0b0b;
    width: 100%;
}

.lentesony14link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
   
    
}

.lentesony14link a{
    color: #d7d7d7;
    font-size: 18px;
}

.lente200img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: relative;
    
    
}

.lentecanon200link h1{
    text-align: center;
    color: #0b0b0b;
    
    
}

.lentecanon200link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
    
    
}

.lentecanon200link a{
    color: #d7d7d7;
    font-size: 18px;
    
}

.lente90 img{
    position: relative;
    
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.lente90link h1{
    text-align: center;
    color: #0b0b0b;
    
}
.lente90link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
}
.lente90link p a{
    color: #d7d7d7;
    font-size: 18px;
}
/*contacto*/

.maincontacto{
    margin: 20px;
    
}



.contenedorcon{
    width: 100%;
    height: 800px;
    margin-top: 120px;
    
}


.redes{
    transform: translateY(-18%);
}

.correo{
    transform: translateY(10%);
}

.contacto_logo{
   
    transition: all 300ms;
    
}
.h4-insta{
    -webkit-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
    box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    background-color: #d7d7d7;
    height: 50%;
    width: 30%;
    border-radius: 30px 0 0 30px;
    opacity: 0.6;
}
.h4-insta h4{
  padding: 30px;
  text-align: center;
  color: #0b0b0bee;
}
.h4-insta2{
    display: none;
   
} 
.h4-insta2 h4{
    padding: 10px;
    text-align: center;
    color: #0b0b0bee;
}
.h4-insta3{
    display: none;
}
@media screen and (max-width: 1200px){
    .h4-insta{
        margin-left: 3.3%;
    }
}
@media screen and (max-width: 992px){

    a{
        transition: none;
    }
  
    .links{
        transition: none;
    }
    .links1{
        transition: none;
    }

    .h4-insta{
        display: none;
    }
    .h4-insta2{
        -webkit-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        background-color: #d7d7d7;
        height: 50%;
        width: 40%;
        border-radius: 30px 0 0 30px;
        opacity: 0.6;
    }
}
@media screen and (max-width: 769px){
    .h4-insta2{
        display: none;
    }
    .h4-insta3{
        border-radius: 30px 30px 0 0;
        -webkit-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        box-shadow: -10px 0px 20px 5px rgba(0,0,0,0.75);
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #d7d7d7;
        height: 60%;
        width: 50%;
        opacity: 0.6;
    }
}


@media (hover: hover) {
    .contacto_logo:hover{
    
        transform: scale(1.10);
        
      }
}

/*blog*/
.background{
    height: 2000px;
}
.blogfondo{
    position: absolute;
    -webkit-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    left: 0;
    height: 1100px;
    width: 100%;
    margin: 0;
    background-image:url(../imagenes/galeria/fondoblog.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px
    
        
}
.tarjeta{
    position: absolute;
    left: 2%;
    display: none;
    top: 30%;
    height: 500px;
    width: 400px;
    padding-top: 30px;
    opacity: 92%;
    animation-name: animaciontar;
    animation-duration: 2.5s;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    
    

}
@keyframes animaciontar {
    from{
        transform: translateY(-65%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.tarjeta2{
    
    display: none;
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 53%;
    right: 0; 
    height: 500px;
    width: 400px;
    margin-right: 20px;
    padding-top: 30px; 
    opacity: 92%;
    animation-name: animaciontar2;
    animation-duration: 2.5s;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
}
@keyframes animaciontar2 {
    from{
        transform: translateY(120%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.tarjeta3{
    position: absolute;
    top: 130%;
    bottom: 0;
    left: 6%;
    right: 0;
    height: 500px;
    width: 400px;
    display: none;
    padding-top: 30px; 
    opacity: 92%;
    animation-name: animaciontar3;
    animation-duration: 2.5s;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
}
@keyframes animaciontar3 {
    from{
        transform: translatex(-100%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.blog{
    margin-top: 1100px;
    height: 1000px;
    
    
}
 .blog__Titulo{
    text-align: center;
    position: relative;
    display: inline-block;
    padding-top: 7px;
    color: #161616;
   
    opacity: 99%;
    
}
.blogtitulofondo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
    width: 410px;
    height: 65px;
    position: relative;
    left: 355px;
    top: 150px;
    border-radius: 20px;
    margin-right: 0;
    
}


.cardt {
    margin-left: 40px;
    position: absolute;
    top: 110%;
    left: 17%;
    transform: translate(-50%,-50%);
    width: 390px;
    height: 520px;
    background: #262626;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    animation-name: card1;
    animation-duration: 2s;
  }
  .cardt .imgBx,
  .cardt .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;

  }
  .cardt .imgBx {
    top: 0;
    left: 0;
  }
  .cardt:hover .imgBx {
    top: 0;
    left: -100%;
  }
  .cardt .imgBx img {
    width: 100%;
  }
  .cardt .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
  }
  .cardt:hover .details {
    top: 0;
    left: 0%;
  }
  .cardt .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 80px 0 10px;
    border-bottom: 2px solid #fff;
  
  }
  .cardt .details p {
    margin: 20px 0 0;
    color: #fff;
  }
  @keyframes card1{
    from{
        transform: translate(-140%, -50%);
        opacity: 40%;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
  }
  .card2 {
    position: absolute;
    top: 90%;
    left: 68%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 49%;
    background: #262626;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    animation-name: card2;
    animation-duration: 2s;
  }
  .card2 .imgBx,
  .card2 .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
  }
  .card2 .imgBx {
    top: 0;
    left: 0;
  }
  .card2:hover .imgBx {
    top: 0;
    left: -100%;
  }
  .card2 .imgBx img {
    width: 100%;
  }
  .card2 .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
  }
  .card2:hover .details {
    top: 0;
    left: 0%;
  }
  .card2 .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;
  
  }
  .card2 .details p {
    margin: 20px 0 0;
    color: #fff;
  }
  @keyframes card2{
    from{
        transform: translate(-50%, -140%);
        opacity: 40%;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
  }
  .card3 {
    position: absolute;
    top: 150%;
    left: 65%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 270px;
    background: #262626;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -6px rgba(0,0,0,1);
    animation-name: card3;
    animation-duration: 2s;
  }
  .card3 .imgBx,
  .card3 .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
  }
  .card3 .imgBx {
    top: 0;
    left: 0;
  }
  .card3:hover .imgBx {
    top: 0;
    left: -100%;
  }
  .card3 .imgBx img {
    width: 100%;
  }
  .card3 .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 30px 30px;
  }
  .card3:hover .details {
    top: 0;
    left: 0%;
  }
  .card3 .details h3 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;
  
  }
  .card3 .details p {
    margin: 20px 0 0;
    color: #fff;
  }
  @keyframes card3{
    from{
        transform: translate(-50%, 100%);
        opacity: 40%;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
  }
.gridcon{
    margin-top: 1500px;
    margin-bottom: 600px;
    width: 60%;
}
.grid-container2 {
    transform: translateY(1200px);
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    padding-top: 60px;
  }
/*galeria*/

.grid-item {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (hover: hover) {
    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
        
      } 
  }
 
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    padding-top: 70px;
  }
  
  @media (min-width: 600px) {
    .ancho {
      grid-column: span 2;
    }
  
    .alto {
      grid-row: span 2;
    }
    .masancho{
        grid-column: span 3;
    }
    .masalto{
        grid-row: span 3;
    }
  }
  @media screen and (max-width: 1250px){
    .texto__Parrafo{
        display: flex;
        flex-direction: column;
    }
    .div2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .div2 img{
        width: 100%;
    }
    .div3{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    .div4{
      width: 100%;
    
    }
 
  .sef h1{
        
      transform: translateY(-30px);
  }
    .sef p{
        
        transform: translateY(-50px);
    }
   
    
    .blogtitulofondo{
        position: relative;
        left: 49%;
    }
    .blog__Titulo{
        padding-left: 2%;
    }
.blogfondo{
    position: absolute;
    height: 1200px;
}
.blog{
     margin-top: 150%;
    display: flex;
    flex-direction: column;
}

.cardt{
    height: 425px;
    width: 320px;
    
}

.alphaimg{
    height: 310px;
   

    
}
.lentesony50img{
    height: 320px;
    
}
.lente14img{
    height: 310px;
   

}
.lente200img{
    height: 310px;
   
}

.lente90{
    
    height: 90%;

}


@media screen and (max-width: 1090px){
    .gridequipo{
        margin-left: 0;
        margin-right: 0;
    }
    .sef p{
        font-size: 23px;
        
    }
    .sef h1{
        font-size: 41px;
        
    }
    
}
@media screen and (max-width: 1000px){
        /*blog*/
    
        
        .blogtitulofondo{
            margin: 0;
            position: relative;
            left: 49%;
        }
        
   .blogfondo{
       position: absolute;
       height: 1200px;
   }
   .blog{
    
       margin-top: 150%;
       display: flex;
       flex-direction: column;
       
   }
  

    /*inicio*/
    .main1{
        margin-left: 5%;
        margin-right: 5%;
    }
    .sef{
        margin-top: 10px;
    }
    .div3 p{
        transform: translateX(-10px);
    }
    /*nuestro equipo*/
  
    .sonyalpha{
        height: auto;
    }
    .alphaimg{
        margin-top: 20%;
        height: 100%;
 
    }
    .lentesony14{
        height: auto;
    }
    .lente14img{
        height: 100%;
       
    }
    .lentecanon200{
        height: auto;
    }
    .lente200img{
        height: 100%;
        
    }
    .lentesony50{
        height: auto;
    }
    .lentesony50img{
        height: 100%;
        
    }

    .sonyalphalink h1{
        width: 100%;
        font-size: 35px;
    
        
    }
    .sonyalphalink p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
        
        
    }
    .lentesony50link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;
        
    }
    .lentesony50link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
  
    }
    .lentesony14link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;

    }
    .lentesony14link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
  
    }
    .lentecanon200link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;

    }
    .lentecanon200link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
   
    }
    

}
@media screen and (max-width: 990px){

   
    .alphaimg{

        width: 100%;
        height: 100%;
        
       
    }
    .lente14img{
        
        
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    .lente200img{
        
        border-radius: 20px;
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    .lentesony50img{
        
        border-radius: 20px;
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    /* inicio */
    .tarjeta{
        width: 40%;
        display: block;
        

        
    }
    .tarjeta2{
        width: 40%;
        display: block;
        
        
    }
    .tarjeta3{
        width: 40%;
        display: block;
        
    }
    .cardt{
        display: none;
    }
    .card2{
        display: none;
    }
    .card3{
        display: none;
    }
}
@media screen and (max-width: 880px) { 
    .lista__Menu{
        margin-right: 10px;
    }
    .links{
        font-size: 16px;
    }
    .links1{
        font-size: 16px;
    }
    
    .divtexto{
        width: 400px;
    }
    .texto{
        margin: 0 auto;
        
        

        

    }
    
    .div2 img{
        
        width: 100%;
        
    
    }
    .div2 p{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
   
    }
    .texto2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 10%;
    }
    .div3 img{
        width: 100%;
    }
    .div3 p{
        width: 102%;
        
        
    }
   
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px;
        padding: 10px;
    
    }
    
    .slide{
        margin-top: 60px;
    }
    .sef{
        animation-name: none;
    }
    .sef p{
        font-size: 22px;
        
    }
    .sef h1{
        font-size: 40px;
        margin-top: 50px;
    }
    
    /* contacto */
    .imgprincipal{
        margin: 50px;
        width: 100%;
        height: 110%;
        transform: translate(0%, -5%);
        margin-left: 6%;
    }
    .contacto{
        transform: translateX(5%);
        margin-left: 6%;
    }
    

    /*nuestro equipo*/

   

    .alphaimg{
   
        
        width: 100%;
       
    }

    .sonyalphalink p{
        width: 100%;
        
    }

    .lentesony50link p{
        width: 100%;
    }

    .lentesony14link p{
        width: 100%;
    }

    .lentecanon200link p{
        width: 100%;
    }
    .sonyalphalink p{
        width: 100%;
        
    }

    .lentesony50link h1{
        width: 100%;
    }

    .lentesony14link h1{
        width: 100%;
    }

    .lentecanon200link h1{
        width: 100%;
    }
   
    .footerinicio{
        height: 200px;
        margin-top: 1000px;
        
    }
    .footerinicio p{
        transform: translate(10%, 100px);
        display: inline-block;

    }
    
    /*contacto*/

    body{
        width: 100%;
    }
    .imagencon{
        width: 150%;
    }
   
    .footercontacto{
        height: 200px;
        margin-top: 1000px;
    }
    .footercontacto p{
        transform: translate(10%, 100px);
        display: inline-block;
    }
    .contacto{
        transform: translateX(-6%);
    }

    /*blog*/
    .blogfondo{
        position: absolute;
        top: 95px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        
    }
      .parrafofondo2{
          position: relative;
          top: 50px;

    }
    
    .blogtitulofondo{
        transform: translateX(-45%);
        margin-right: 20px;
        width: 370px;
    }
    
     

    /*galeria*/
    .footergaleria{
        height: 200px;
        margin-top: 1000px;
        
    }
    .footergaleria p{
        transform: translate(10%, 100px);
        display: inline-block;

    }

@media screen and (max-width: 769px){
 
    .blog{
        height: 1200px;
        display: flex;
        align-items: center;
    }
    .blogtitulofondo{
        transform: translate(-40%, 50%);
        width: 50%;
        height: 100px;
    }
    .blog__Titulo{
        width: 100%;
        font-size: 30px;
        padding-top: 5%;
    }
    .tarjeta2{
        position: absolute;
        top: 90%;
    }
   
    /* inicio */
   

}
@media screen and (max-width: 730px){
   
    .footerinicio{
        margin-top: 1200px;
        height: 200px;
        margin-bottom: 100px; 


    }
    .footerinicio ul{
        display: inline-block;
        align-items: center;

    }
   

    /*contacto*/
    
    .contacto{
        margin-right: 20%;
        width: 80%;
        position: relative;
        right: 15%;
    }
    .footercontacto{
        margin-top: 800px;
        height: 200px;
        margin-bottom: 100px; 
    }
    .footercontacto ul{
        display: inline-block;
        align-items: center;
    }



    /*blog*/

    .grid-container2{
        width: 90%;
    }


}

@media screen and (max-width: 680px) { 
    
    .main1{
        margin-right: 200px;
    }

    .lista__Menu{
        padding-inline: 5px;
    }
   

   .div4con{
       width: 100%;
       margin-bottom: 100px;

       
   }
   .div4p{
       text-align: center;
   }

  



   /*nuestro equipo*/
   .gridequipo{
       width: 110%;
       margin-left: -5%;
   }
 


   /*blog*/



.blog{
    margin-top: 1200px;
    
}

.tarjeta{
    width: 45%;
}
.tarjeta2{
    width: 45%;
  
}
.tarjeta3{
    width: 45%;
}
.card-body{
    padding-left: 0;
    padding-right: 0;
}
.grid-container2{
    width: 93%;
}




@media screen and (max-width: 580px){
    .maincontacto{
        width: 98%;
        margin: 0;
    }
   
        /*nuestro equipo*/
        body{
            width: auto;
            margin: 0;
            padding: 0;
        }

  
    
        .sonyalphalink p{
            width: 100%;
            
        }
    
        .lentesony50link p{
            width: 100%;
           
        }
    
        .lentesony14link p{
            width: 100%;
            
        }
    
        .lentecanon200link p{
            width: 100%;
            
        }
        .sonyalphalink h1{
            width: 100%;
            
        }
    
        .lentesony50link h1{
            width: 100%;
          
        }
    
        .lentesony14link h1{
            width: 100%;
            
        }
    
        .lentecanon200link h1{
            width: 100%;
            
        }
       
        .gridequipo{
            width: 110%;
            
            
        }
        
        .alphaimg{
            height: 100%;
            
            
        }
        .lentesony50img{
            height: 100%;
            
        }
        .lente14img{
            height: 100%;
            
        }
        .lente200img{
            height: 100%;
            
        }  
      
        .blogtitulofondo{
            margin-right: 70px;
        }
        .grid-container2{
            width: 95%;
        }
}
@media screen and (max-width: 540px) { 
      /*blog*/

      .blog{
        
        margin-top: 850px;
        margin-left: 1%;
        margin-right: 1%;
        width: 100%;
    }
   
    .blogfondo{
        margin-top: 75px;
        height: 1350px;
        
    }
    .blogtitulofondo{
        position: absolute;
        left: 43%;
        margin-top: 20px;
        height: 80px;
        width: 70%;
        
    }
    .blog__Titulo{
        width: 100%;
        font-size: 25px;
        padding-top: 5%;
        padding: 10px;
    }
    .tarjeta{
        position: relative;
        top: 200px;
        margin-left: 13%;
        width: 80%;
        animation-name: none
        
    }
    .tarjeta2{
       
        width: 85%;
        position: absolute;
        left: 9%;
        top: 300%;
        animation-name: none;
        
    }
    .tarjeta3{
        
        width: 80%;
        position: relative;
        
        top: 250px;
        animation-name: none;
    }
    .grid-container2{
        width: 96%;
        
    }

    body{
        width: 100%;
    }
    .menu{
   
    display: inline-block;
    position: relative;
    bottom: 95px;
    left: 50%;

    }
    header{
        height: 110px;
        width: 100%;
        margin-top: 9px;
    }
    .cajatitulo{
        margin-top: 125px;
    }
    .titulo{
     
    font-size: 26px;
    
    }
    header{
        position: relative;
        margin-top: 0;
        
    }
    .menu{
        background-color: #0b0b0bc7;
        height: 400px;
        width: 90%;
        border-radius: 0 0 30px 30px;
        margin-bottom: 200px;
    }
    
    .links{
        font-size: 30px;
        position: relative;
        bottom: 25px;
        right: 3%;
        
    }
   
        .checkbtn{
        display: block;

    }
    nav ul{
        position: relative;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        transform: translateX(-100%);
        filter: opacity(0);
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        transform: translateX(-50%);
        filter: opacity(1);

    }
    
    .logo{
        margin-top: 30px;

    }
    .footerinicio p{
        display: inline-block;
    }
    .texto{
        font-size: 35px;
    }
    .divtexto{
        position: relative;
        right: 14%;
        padding-top: 40px;
    }
    
    
   
    .texto{
        transform: translateX(26%);
        animation-name: none;
    }
    .texto__Parrafo{
        width: 110%;
        margin: 0;
    }

    
   
    /*contacto*/

    .contacto{
        margin-left: 9%;
        width: 100%;
        position: relative;
        right: 3%;
        
    }
    .contacto h2{
        transform: translateX(35%);
    }
    .contacto__Logo{
        transform: translateX(-19%);
    }
    .contacto p{
        width: 100%;
        transform: translateX(-5%);
    }
    .divicion{
        width: 130%;
        transform: translateX(-10%);
    }
    .imgprincipal{
        margin: 0;
        width: 150%;
        transform: translateY(0%);
        padding-bottom: 10%;
    }
    .imagen{
        width: 130%;
    }
    .imagen2{
        width: 130%;
    }
    .imagen3{
        width: 130%;
    }


    .slider-frame{
        display: block;
    }

   


}   

@media screen and (max-width: 400px) { 
    
 
  

    /*contacto*/

    .contacto{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        position: relative;
        
    }
    .contacto h2{
        position: relative;
        left: 20px;
    }

    .contacto p{
        position: relative;
        left: 40px;
        bottom: 10px;
        width: 200px;
    }
    .texto{
        font-size: 32px;
    }
    .divtexto{
        position: relative;
        right: 18%;
        padding-top: 40px;
    }
    
    
    .grid-container2{
        width: 98%;
    }


}







