/*animaciones*/


html{
    font-family: 'Montserrat', sans-serif;
    background-color:#323232 ;
    width: 100%;
    
}
body{
  margin: 0;
   padding: 0;
   background-color: #323232;
   width: 100%;
   
   
}

.titulo{
    background-color: #d7d7d7;
    width: 100%;
    height: 45px;
    font-size: 35px;
    text-align: center;
    margin-top: 10%;
    margin: 0;
    position: absolute;
    bottom: 76%;
    
    
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: black;
    margin: 0;
    margin-top: 15px;
    height: 80px;
    padding: 0;
    
}


.menu{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    right: 50px;

}

.lista__Menu{
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    margin-right: 20px;
    
}

.links{
    color: #d7d7d7;
    text-decoration: none;
    font-size: 22px;
    transition: all 300ms;
      
}
.links:hover{
    transform: scale(1.09);
    font-size: 23px;
    padding-inline: 19px;
}

.logo{
    margin: 10px 10px 10px 35px;
    width: 80px;
}
.main1{
    width: 90%;
    height: 0%;
    margin: 80px 80px 35px 45px;
    

}
.sef{
    animation-name: animacion2;
    animation-duration: 2s;
}
.sef p{
    font-size: 30px;
    color: #d7d7d7;
    text-align: center;
    opacity: 60%;
    z-index: 9;
    
  
}
.sef h1{
    font-size: 40px;
    color: #0b0b0b;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    opacity: 90%;
}
.slide{
    z-index: 10;
    animation-name: animacion5;
    animation-duration: 3s;
}
@keyframes animacion5 {
    from{
        filter: saturate(0);
        
    }
    to{
        filter: none;
    }
}

.main2{
    height: 900px;
    padding-top: 50px;
    z-index: 50;
    
    
    

}
.radius{
    border-radius: 20px;
}
.texto{
    display: inline-block;
    margin-left: 20%;
    
    margin-top: 5%;
    color: #0b0b0b;
    padding-top: 25px;
    position: relative;
    
    font-size: 40px;
    animation-duration: 2s;
    animation-name: animacion2;
    
    
}
@keyframes animacion2 {
    from{
        transform: translateX(-115%);
        filter: opacity(0.7);
        
    }
    to{
        transform: translateX(0%);
        
    }
}

.texto__Parrafo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 50px 0 50px;
    gap: 50px;
    font-size: 20px;
    color: #0b0b0bc7;
    
    
    
    
    
    
}

.div1 p{
    width: 80%;
    font-size: 20px;
    color: #d7d7d7;
    margin-left: 10%;
    padding-top: 15px;
    margin-bottom: 10%;
    text-align: center;
    
}

.div2 p{
    
    padding-top: 20px;
    text-align: center;
}



.div3{
    
}

.div3 img{
    
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    
}
.div3 p{
    text-align: center
    
    
} 
.div4con{
    padding-top: 100px;
    width: 100%;
    gap: 50px;
    
}
.div4{
    width: 100%;
    height: 100%;
}
.div4img img{
   width: 100%;
}

.div4p{
    padding-top: 50px;
    font-size: 18px;
}

.sec{
    
    position: relative;
    top: 100px;
    width: 100%;
    margin: 0;
    height: 100%;
    background: rgb(92,92,92);
    background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(235,234,234,1) 89%);;
    
}

.ola{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;

    

}
@media screen and (max-width: 1080px){
    
}


a:hover{
    text-decoration: #d7d7d7;
    color: #35392d;
}


.ir a:hover{
    text-decoration: #d7d7d7;
    color: #35392d;
}
@media screen and (max-width: 900px){
    a:hover{
        display: none;
    }
}


/*nuestro equipo*/



  .gridequipo{
    margin: 50px;
    padding: 50px;
  }

.alphaimg{
    position: relative;
    
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.sonyalpha{
    z-index: 20;
}

.sonyalphalink h1{
    text-align: center;
    
    color: #0b0b0b;
    animation-name: animacion2;
    animation-duration: 3s;
    

}
.sonyalphalink p {
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
    width: 100%;
    animation-name: animacion2;
    animation-duration: 3s;
 
   
}

.sonyalphalink p a{
    color: #d7d7d7;
    font-size: 18px;
    animation-name: animacion2;
    animation-duration: 3s;
}
.lentesony50{
    z-index: 20;
}

.lentesony50link h1{
    text-align: center;
    color: #0b0b0b;
    margin-top: 60px;
    animation-name: animacion2;
    animation-duration: 3s;
}
.lentesony50link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
    animation-name: animacion2;
    animation-duration: 3s;
}
.lentesony50link p a{
    color: #d7d7d7;
    font-size: 18px;
    animation-name: animacion2;
    animation-duration: 3s;
}

.lentesony50img{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    
}

.lente14img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: relative;
   
}
.lentesony14{
    border-radius: 10px;
}

.lentesony14link h1{
    text-align: center;
    color: #0b0b0b;
    margin-top: 10px;
    width: 100%;
    
}

.lentesony14link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
   
    
}

.lentesony14link a{
    color: #d7d7d7;
    font-size: 18px;
}

.lente200img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    position: relative;
    
    
}

.lentecanon200link h1{
    text-align: center;
    color: #0b0b0b;
    margin-top: 30px;
    
}

.lentecanon200link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    
}

.lentecanon200link a{
    color: #d7d7d7;
    font-size: 18px;
    
}

.lente90 img{
    position: relative;
    
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.lente90link h1{
    text-align: center;
    color: #0b0b0b;
    margin-top: 20px;
}
.lente90link p{
    text-align: center;
    color: #d7d7d7;
    font-size: 18px;
    width: 100%;
}
.lente90link p a{
    color: #d7d7d7;
    font-size: 18px;
}
/*contacto*/

.maincontacto{
    margin: 20px;
    
}


.imgprincipal2{
    border: #d7d7d7 solid;
    width: 100%;
    transition: all 300ms;
    position: relative;
    top: 70px;
}
.contenedorcon{
    width: 100%;
    height: 800px;
    margin-top: 120px;
    
}


.redes{
    transform: translateY(-18%);
}

.correo{
    transform: translateY(10%);
}

.contacto__Logo{
    position: relative;
    left: 45%;
    bottom: 10px;
    width: 60px;
    transition: all 300ms;
    
}
.h4-insta{
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-color: #d7d7d7;
    height: 50%;
    width: 30%;
    border-radius: 30px 0 0 30px;
    opacity: 0.6;
}
.h4-insta h4{
  padding: 30px;
  text-align: center;
  color: #0b0b0bee;
}



.contacto__Logo:hover{
    
    transform: scale(1.05);
    
  }
  .contacto__Logo:hover{
      transform: scale(1.15);
  }

/*blog*/

.blogfondo{
    position: absolute;
    -webkit-box-shadow: 0px 32px 25px 12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 32px 25px 12px rgba(0,0,0,1);
    box-shadow: 0px 32px 25px 12px rgba(0,0,0,1);
    left: 0;
    height: 1000px;
    width: 100%;
    margin: 0;
    background-image:url(../imagenes/galeria/fondoblog.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px
    
        
}
.tarjeta{
    position: absolute;
    left: 2%;
    top: 30%;
    height: 500px;
    width: 400px;
    padding-top: 30px;
    opacity: 92%;
    animation-name: animaciontar;
    animation-duration: 2.7s;
    
    

}
@keyframes animaciontar {
    from{
        transform: translateY(-65%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.tarjeta2{
    position: absolute;
    left: 68%;
    height: 500px;
    width: 400px;
    
    padding-top: 30px; 
    opacity: 92%;
    animation-name: animaciontar2;
    animation-duration: 3s;
}
@keyframes animaciontar2 {
    from{
        transform: translateY(-135%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.tarjeta3{
    position: absolute;
    left: 35%;
    top: 70%;
    height: 500px;
    width: 400px;
    padding-top: 30px; 
    opacity: 92%;
    animation-name: animaciontar3;
    animation-duration: 2.5s;
}
@keyframes animaciontar3 {
    from{
        transform: translateY(-80%);
        filter: saturate(0);
        opacity: 40%;
    }
    to{
        transform: translateY(0%);
        filter: saturate();
        opacity: 92%;
    }
}
.blog{
    margin-top: 1100px;
    height: 1000px;
    
}
 .blog__Titulo{
    text-align: center;
    position: relative;
    display: inline-block;
    
    color: #161616;
   
    opacity: 99%;
    
}
.blogtitulofondo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
    width: 410px;
    height: 70px;
    position: relative;
    left: 355px;
    top: 200px;
    border-radius: 30px;
    
}

.contenedorblog img:hover{
    transform: scale(1.08);
    border: #d7d7d7 solid 2px;
    
}
.contenedorblog2 img:hover{
    transform: scale(1.08);
    border: #d7d7d7 solid 2px;
    
}
.contenedorblog3 img:hover{
    transform: scale(1.08);
    border: #d7d7d7 solid 2px;
    
} 


/*galeria*/

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.7);
    transform: scale(1.02);
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    padding-top: 60px;
  }
  
  @media (min-width: 600px) {
    .ancho {
      grid-column: span 2;
    }
  
    .alto {
      grid-row: span 2;
    }
    .masancho{
        grid-column: span 3;
    }
    .masalto{
        grid-row: span 3;
    }
  }
  @media screen and (max-width: 1250px){
      .texto__Parrafo{
          display: flex;
          flex-direction: column;
      }
      .div2{
          width: 80%;
          margin-left: 10%;
          margin-right: 10%;
      }
      .div2 img{
          width: 100%;
      }
      .div3{
          width: 75%;
          margin-left: 12.5%;
          margin-right: 12.5%;
      }
      .div4{
        width: 100%;
      
      }
   
    .sef h1{
          
        transform: translateY(-30px);
    }
      .sef p{
          
          transform: translateY(-50px);
      }
    .tarjeta3{
        position: absolute;
        top: 120%;
        bottom: 0;
        left: 10%;
        right: 0;
        
    }
    .tarjeta2{
        position: absolute;
        top: 80%;
        bottom: 0;
        left: 58%;
        right: 0; 
    }
    
    .blogtitulofondo{
        position: relative;
        left: 49%;
    }
    .blog__Titulo{
        padding-left: 2%;
    }
.blogfondo{
    position: absolute;
    height: 1200px;
}
.blog{
     margin-top: 150%;
    display: flex;
    flex-direction: column;
}
.contenedorblog img{
    width: 60%;
    height: 90%;
}
.parrafofondo{
    height: 60%;
    transform: translateY(5%);
}
.blog__Parrafo{
    width: 95%;
    padding-top: 8%;
}
.contenedorblog2 img{
    width: 60%;
    height: 90%;
}
.parrafofondo2{
    height: 60%;
    transform: translateY(5%);
}
.blog__Parrafo2{
    width: 95%;
    padding-top: 8%;
}
.contenedorblog3 img{
    width: 60%;
    height: 90%;
}
.parrafofondo3{
  
    height: 60%;
    transform: translateY(5%);
}
.blog__Parrafo3{
    width: 95%;
    padding-top: 8%;
}

.alphaimg{
    height: 310px;
    margin-top: 15%;

    
}
.lentesony50img{
    height: 320px;
    margin-top: 12%;
}
.lente14img{
    height: 310px;
    margin-top: 19%;

}
.lente200img{
    height: 310px;
    margin-top: 8%;
}
.titulo{
    position: absolute;
    bottom: 80%;
}
.lente90{
    margin-top: 18%;
    height: 90%;

}
.lente90link{
    margin-top: 15%;
}

  }
@media screen and (max-width: 1000px){
        /*blog*/
        .tarjeta3{
            position: absolute;
            top: 120%;
            bottom: 0;
            left: 10%;
            right: 0;
            
        }
        .tarjeta2{
            position: absolute;
            top: 80%;
            bottom: 0;
            left: 58%;
            right: 0; 
        }
        
        .blogtitulofondo{
            position: relative;
            left: 49%;
        }
        .blog__Titulo{
            padding-left: 6%;
        }
   .blogfondo{
       position: absolute;
       height: 1200px;
   }
   .blog{
    
       margin-top: 150%;
       display: flex;
       flex-direction: column;
       
   }
   .contenedorblog img{
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
    padding-bottom: 10%;
   }
   .parrafofondo{
    width: 80%;
    height: 40%;
       transform: translateY(5%);
       
   }
   .blog__Parrafo{
       width: 95%;
       padding-top: 8%;
   }
   .contenedorblog2 img{
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .parrafofondo2{
      width: 80%;
      height: 30%;
      transform: translateY(5%);
      
  }
  .blog__Parrafo2{
      width: 95%;

      padding-top: 8%;
  }
  .contenedorblog3 img{
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
    
  }
  .parrafofondo3{
    width: 80%;
    height: 30%;
      transform: translateY(5%);
     
  }
  .blog__Parrafo3{
      width: 95%;
      padding-top: 8%;
  }

    /*inicio*/
    .main1{
        margin-bottom: 100px;
    }
    .sef p{
        font-size: 23px;
        
    }
    .sef h1{
        font-size: 41px;
        
    }
    
    
    .div3 p{
        transform: translateX(-10px);
    }
    /*nuestro equipo*/
    .gridequipo{
        margin-top: 140px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        padding: 50px;
    }
    .alphaimg{
        margin-top: 5%;
        align-self: center;
        width: 100%;
        height: 340px;
        
       
    }
    .lente14img{
        height: 370px;
        margin-top: 0;
    }
    .lente200img{
        height: 310px;
        margin-top: 0;
    }
    .lentesony50img{
        height: 310px;
        margin-top: 0;
    }

    .sonyalphalink h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;
        position: relative;
        bottom: 45px
        
    }
    .sonyalphalink p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
        position: relative;
        bottom: 45px;
        
    }
    .lentesony50link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;
        position: relative;
        bottom: 50px
    }
    .lentesony50link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
        position: relative;
        bottom: 50px;
    }
    .lentesony14link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;
        position: relative;
        bottom: 50px
    }
    .lentesony14link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
        position: relative;
        bottom: 50px;
    }
    .lentecanon200link h1{
        width: 100%;
        font-size: 35px;
        margin-right: 0;
        position: relative;
        bottom: 20px
    }
    .lentecanon200link p{
        width: 100%;
        font-size: 15px;
        margin-right: 0;
        position: relative;
        bottom: 20px;
    }
    .ola2{
        display: none;
    }
    .ola3{
     display: none;
    }

}
@media screen and (max-width: 990px){
    .gridequipo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: auto;
        padding: 50px;
    }
   
    .alphaimg{
        transform: translateY(-30%);
        border-radius: 20px;
       
        align-self: auto;
        width: 100%;
        height: 100%;
        
       
    }
    .lente14img{
        
        
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    .lente200img{
        
        border-radius: 20px;
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    .lentesony50img{
        
        border-radius: 20px;
       
        align-self: center;
        width: 100%;
        height: 90%;
    }
    
    
}
@media screen and (max-width: 880px) { 
    .lista__Menu{
        margin-right: 10px;
    }
    .links{
        font-size: 15px;
    }
    
    .divtexto{
        width: 400px;
    }
    .texto{
        margin: 0 auto;
        
        

        

    }
    
    .div2 img{
        
        width: 100%;
        
    
    }
    .div2 p{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
   
    }
    .texto2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* transform: translate(-5%, 15%); */
        width: 80%;
        margin: 10%;
    }
    .div3 img{
        width: 100%;
    }
    .div3 p{
        width: 102%;
        
        
    }
   
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px;
        padding: 10px;
    
    }
    
    .slide{
        margin-top: 60px;
    }
    .sef{
        animation-name: none;
    }
    .sef p{
        font-size: 22px;
        
    }
    .sef h1{
        font-size: 40px;
        margin-top: 50px;
    }
    
    /* contacto */
    .imgprincipal{
        margin: 50px;
        width: 100%;
        height: 110%;
        transform: translate(0%, -5%);
        margin-left: 6%;
    }
    .contacto{
        transform: translateX(5%);
        margin-left: 6%;
    }
    

    /*nuestro equipo*/

   

    .alphaimg{
        transform: translateY(-30%);
        
        width: 100%;
       
    }
    .lente14img{
        transform: translateY(-5%);
    }
    .sonyalphalink p{
        width: 100%;
        
    }

    .lentesony50link p{
        width: 100%;
    }

    .lentesony14link p{
        width: 100%;
    }

    .lentecanon200link p{
        width: 100%;
    }
    .sonyalphalink p{
        width: 100%;
        
    }

    .lentesony50link h1{
        width: 100%;
    }

    .lentesony14link h1{
        width: 100%;
    }

    .lentecanon200link h1{
        width: 100%;
    }
   
    .footerinicio{
        height: 200px;
        margin-top: 1000px;
        
    }
    .footerinicio p{
        transform: translate(10%, 100px);
        display: inline-block;

    }
    .listasfooter{
        transform: translateX(-400px);
    }
    .footerequipo{
        height: 200px;
        margin-top: 1000px;
    }
    .footerequipo p{
        transform: translate(10%, 100px);
        display: inline-block;
    }
    /*contacto*/

    body{
        width: 100%;
    }
    .imagencon{
        width: 150%;
    }
   
    .footercontacto{
        height: 200px;
        margin-top: 1000px;
    }
    .footercontacto p{
        transform: translate(10%, 100px);
        display: inline-block;
    }
    .contacto{
        transform: translateX(-6%);
    }

    /*blog*/
    .blogfondo{
        position: absolute;
        top: 15%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
      .parrafofondo2{
          position: relative;
          top: 50px;

    }
    .tarjeta{
        width: 40%;
        height: 75%;
    }
    .tarjeta2{
        width: 40%;
        height: 75%;
    }
    .tarjeta3{
        width: 40%;
        height: 75%;
    }
    .blogtitulofondo{
        transform: translateX(-45%);
        margin-right: 20px;
        width: 350px;
    }
    .blog{
        height: 1900px;
        
    }
    .blog__Parrafo{
        font-size: 22px;
    }
    .blog__Parrafo2{
        font-size: 22px;
        padding-top: 50px;
    }
    .blog__Parrafo3{
        font-size: 22px;
    }
    .footerblog{
        height: 200px;
        margin-top: 1000px;
        
    }
    .footerblog p{
        transform: translate(10%, 100px);
        display: inline-block;
    
} 

    /*galeria*/
    .footergaleria{
        height: 200px;
        margin-top: 1000px;
        
    }
    .footergaleria p{
        transform: translate(10%, 100px);
        display: inline-block;

    }

@media screen and (max-width: 769px){
    .blog{
        height: 2500px;
        display: flex;
        align-items: center;
    }
    .blogtitulofondo{
        transform: translate(-40%, -70%);
        width: 50%;
    }
    .blog__Titulo{
        width: 100%;
        font-size: 30px;
        padding-top: 5%;
    }
    .contenedorblog img{
        width: 100%;
        height: 100%;
        transform: translateX(-5%);
        
    }
    .contenedorblog2 img{
        width: 100%;
        height: 100%;
        transform: translateX(-5%);
    }
    .contenedorblog3 img{
        width: 100%;
        height: 100%;
        transform: translateX(-5%);
    }
    .contenedorblog3{
        transform: translateY(-8%);
    }
    .parrafofondo{
        height: 40%;
        width: 80%;
    }
    .parrafofondo2{
        transform: translateY(-40px);
        padding-top: 0;
        height: 30%;
        width: 80%;
    }
    
    .parrafofondo3{
        height: 40%;
        width: 80%;
    }
    /* inicio */
    .ola{
        transform: translateY(110%);
    }
 

}
@media screen and (max-width: 730px){
   
    .footerinicio{
        margin-top: 1200px;
        height: 200px;
        margin-bottom: 100px; 


    }
    .footerinicio ul{
        display: inline-block;
        align-items: center;

    }
   

    /*contacto*/
    
    .contacto{
        margin-right: 20%;
        width: 80%;
        position: relative;
        right: 15%;
    }
    .footercontacto{
        margin-top: 800px;
        height: 200px;
        margin-bottom: 100px; 
    }
    .footercontacto ul{
        display: inline-block;
        align-items: center;
    }

    /*nuestro equipo*/

    .footerequipo{
        margin-top: 800px;
        height: 200px;
        margin-bottom: 100px; 
    }
    .footerequipo ul{
        display: inline-block;
        align-items: center;
    }

    /*blog*/
   
    .blog{
        height: 1200px;
    }
    .blog__Parrafo3{
        padding-left: 200px;
        padding-top: 170px;
    }
    .footerblog{
        margin-top: 1200px;
        height: 200px;
        margin-bottom: 100px; 


    }
    .footerblog ul{
        display: inline-block;
        align-items: center;

    }

    /*galeria*/

    .footergaleria{
        margin-top: 800px;
        height: 200px;
        margin-bottom 100px; 
    }
    .footergaleria ul{
        display: inline-block;
        align-items: center;
    }
}

@media screen and (max-width: 680px) { 
    
    .main1{
        margin-right: 200px;
    }

    .lista__Menu{
        padding-inline: 5px;
    }
   
    .footerinicio p{
    transform: translate(-100px, 70px);
    display: inline-block;
    margin-left: 0;
    width: 130%;
    }
   .footerinicio a{
       position: relative;
       top: 30%;
       right: 30%;
   }
   .div4con{
       width: 100%;
       margin-bottom: 100px;

       
   }
   .div4p{
       text-align: center;
   }

  

   /*contacto*/

   .footercontacto p{
    transform: translate(-100px, 70px);
    display: inline-block;
    margin-left: 0;
    width: 130%;
   }
   .footercontacto a{
    position:relative;
    top: 30%;
    right: 30%;
   }

   /*nuestro equipo*/
   .gridequipo{
       width: 110%;
       margin-left: -5%;
   }
 
   .footerequipo p{
    transform: translate(-100px, 70px);
    display: inline-block;
    margin-left: 0;
    width: 130%;
   }
   .footerequipo a{
    position:relative;
    top: 30%;
    right: 30%;
   }

   /*blog*/

   .blog__Parrafo3{
       position: relative;
       right: 37%;
       bottom: 35%;
    width: 140%;
    font-size: 22px;
    
}
.blog__Parrafo{
    font-size: 22px;
}
.blog__Parrafo2{
    font-size: 22px;
    width: 100%;
    padding-right: 50px;
}
.blog{
    margin-top: 1200px;
    height: 1800px;
}
.footerblog p{
    transform: translate(-100px, 70px);
    display: inline-block;
    margin-left: 0;
    width: 130%;
    }
.footerblog a{
    position: relative;
    top: 30%;
    right: 30%;
   }


}

    /*galeria*/

.footergaleria p{
    transform: translate(-100px, 70px);
    display: inline-block;
    margin-left: 0;
    width: 130%;
}
.footergaleria a{
    position: relative;
    top: 30%;
    right: 30%;
}
/*contacto*/
.links:hover{
    transform: scale(1);
}
@media screen and (max-width: 580px){
   
        /*nuestro equipo*/
        body{
            width: auto;
            margin: 0;
            padding: 0;
        }
        .ola3{
            margin: 0;
            padding: 0;
            width: 20%;
            position: absolute;
            left: 82.3%;
            right: 0;
            top: -1%;
            bottom: 0;
        }
        .ola2{
            width: 20%;
        }
    
        .sonyalphalink p{
            width: 100%;
            position: relative;
            left: 6%;
        }
    
        .lentesony50link p{
            width: 100%;
            position: relative;
            right: 4%;
        }
    
        .lentesony14link p{
            width: 100%;
            position: relative;
            right: 3%;
            top: 0.5%;
        }
    
        .lentecanon200link p{
            width: 100%;
            position: relative;
            right: 3%;
        }
        .sonyalphalink h1{
            width: 100%;
            position: relative;
            left: 6%;
        }
    
        .lentesony50link h1{
            width: 100%;
            position: relative;
            right: 4%;
        }
    
        .lentesony14link h1{
            width: 100%;
            position: relative;
            top: 0.5%;
            right: 3%;
        }
    
        .lentecanon200link h1{
            width: 100%;
            position: relative;
            right: 3%;
        }
       
        .gridequipo{
            width: 110%;
            
            
        }
        .titulo{
            font-size: 30px;
            padding-top: 5px;
    
    
        }
        .alphaimg{
            height: 100%;
            position: relative;
            left: -2%;
            transform: translateY(4%);
        }
        .lentesony50img{
            height: 100%;
            position: relative;
            right: 2.5%;
        }
        .lente14img{
            height: 100%;
            position: relative;
            right: 2%;
        }
        .lente200img{
            height: 100%;
            position: relative;
            right: 2%;
        }  
        .sonyalpha{
            transform: translateY(-32%);
        }
        .sonyalphalink{
            transform: translateX(-8%);
        }
        .blogtitulofondo{
            margin-right: 70px;
        }
}
@media screen and (max-width: 540px) { 
      /*blog*/

      .blog{
        height: 2000px;
        margin-top: 340%;
    }
    .blogfondo{
        margin-top: 20%;
    }
    .blogtitulofondo{
        transform: translate(-42%, -70%);
        width: 40%;
        
    }
    .blog__Titulo{
        width: 100%;
        font-size: 20px;
        padding-top: 5%;
    }
    .tarjeta{
        transform: translateY(10%);
        width: 45%;
        animation-name: none
        
    }
    .tarjeta2{
        width: 45%;
        position: absolute;
        left: 2%;
        top: 140%;
        animation-name: none;
        display: none;
    }
    .tarjeta3{
        width: 45%;
        position: absolute;
        left: 52%;
        top: 80%;
        animation-name: none;
    }
    .contenedorblog img{
        position: relative;
        right: 15%;
        transform: translateX(-5%);
        width: 100%;
        height: 80%;

    }
    .contenedorblog2 img{
        position: relative;
        right: 15%;
        transform: translateX(-5%);
        width: 100%;
        height: 80%;
    }
    .contenedorblog3 img{
        position: relative;
        right: 15%;
        transform: translateX(-5%);
        width: 100%;
        height: 70%;
    }
    .contenedorblog3{
        transform: translateY(-8%);
    }
   
    .blog__Parrafo2{
        transform: translateY(-25%);
    }
    .parrafofondo3{
        height: 35%;
        width: 120%;
    }
    .blog__Parrafo3{
        width: 140%;
        font-size: 20px;
        position: relative;
        bottom: 50%;
        right: 40%;

    }
    .parrafofondo2{
        height: 40%;
        width: 120%;
    }
    .blog__Parrafo2{
        width: 120%;
        font-size: 20px;
        position: relative;
        top: 16%;
        right: 12%;

    }
    .parrafofondo{
        height: 45%;
        width: 120%;
    }
    .blog__Parrafo{
        width: 120%;
        font-size: 20px;
        position: relative;
        bottom: 2%;
        right: 10%;

    }
    body{
        width: 100%;
    }
    .menu{
   
    display: inline-block;
    position: relative;
    bottom: 95px;
    left: 50%;

    }
    header{
        height: 110px;
        width: 100%;
        margin-top: 9px;
    }
    .titulo{
     position: absolute;
     bottom: 77%;
     width: 100%;
    
        
    }
    .logo{
        margin-top: 30px;

    }
    .footerinicio p{
        display: inline-block;
    }
    .texto{
        font-size: 35px;
    }
    .divtexto{
        position: relative;
        right: 14%;
        padding-top: 40px;
    }
    
    .slide{
    transform: translateX(-7%);
    margin: 2%;
    }
    .sef{
        transform: translateX(-7%);
        margin: 2%;
    }
   
    .texto{
        transform: translateX(26%);
        animation-name: none;
    }
    .texto__Parrafo{
        width: 110%;
        margin: 0;
    }
    .div2 img{
        
    }
    .div2 p{
        
    }
    
    
    .div3 p{
        
    }
    
   
    /*contacto*/

    .contacto{
        margin-left: 9%;
        width: 100%;
        position: relative;
        right: 3%;
        
    }
    .contacto h2{
        transform: translateX(35%);
    }
    .contacto__Logo{
        transform: translateX(-19%);
    }
    .contacto p{
        width: 100%;
        transform: translateX(-5%);
    }
    .divicion{
        width: 130%;
        transform: translateX(-10%);
    }
    .imgprincipal{
        margin: 0;
        width: 150%;
        transform: translateY(0%);
        padding-bottom: 10%;
    }
    .imagen{
        width: 130%;
    }
    .imagen2{
        width: 130%;
    }
    .imagen3{
        width: 130%;
    }
    .footercontacto p{
        display: inline-block;  
    }


    .footerequipo p{
        display: inline-block;  
    }
   

  

    /*galeria*/

    .footergaleria p{
        display: inline-block;  
    }
}   

@media screen and (max-width: 400px) { 
    
   
 
  

    /*contacto*/

    .contacto{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        position: relative;
        
    }
    .contacto h2{
        position: relative;
        left: 30px;
    }

    .contacto p{
        position: relative;
        left: 67px;
        bottom: 10px;
        width: 200px;
    }
    .texto{
        font-size: 32px;
    }
    .divtexto{
        position: relative;
        right: 18%;
        padding-top: 40px;
    }
    .blogfondo{
        position: absolute;
        top: 17%;
    }
    .contenedorblog img{
        height: 90%;
        width: 130%;
        transform: translateX(-10%);
    }
    .contenedorblog2 img{
        height: 85%;
        width: 130%;
        transform: translateX(-10%);
    }
    .contenedorblog3 img{
        height: 70%;
        width: 100%;
        transform: translateX(-1%);
    }
    .parrafofondo{
        transform: translateX(6%);
    }
    .parrafofondo2{
        transform: translateX(6%);
    }
    .parrafofondo3{
        transform: translateX(6%);
        width: 90%;
    }
    .blog__Parrafo{
        font-size: 17px;
        width: 130%;
        position: relative;
        right: 12%;
    }
    .blog__Parrafo2{
        font-size: 17px;
        width: 140%;
        position: relative;
        right: 17%;
        bottom: 2%;
    }
    .blog__Parrafo3{
        font-size: 17px;
        width: 150%;
        position: relative;
        right: 50%;
        bottom: 55%;
    }


}

/*animaciones*/
@keyframes animacion6 {
    from{
        border: #d7d7d7 solid;
        
    }
    to{
        border: none;
    }
}
/*animaciones*/

/*animaciones*/
@keyframes animacion4 {
    from{
      
      color: #0b0b0b; 
      filter: opacity(0.2); 
    }
    to{
        color: #d7d7d7;
    }
}



/*animaciones*/
@keyframes animacion {
    from{
        transform: scale(0.8) translateY(-20%);
        filter: opacity(0.2);
    to{
        transform: scale(1);
        
        
    }


}





