.footer {
  -webkit-box-shadow: 0px -70px 100px 23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -70px 100px 23px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -70px 100px 23px rgba(0, 0, 0, 0.75); }

.footer-inicio {
  margin-top: 300px; }

.ir {
  color: none;
  height: 30px;
  width: 200px;
  background-color: #0b0b0bd0;
  opacity: 70%;
  border-radius: 30px;
  position: absolute;
  left: 60%;
  bottom: 0.7%; }
  .ir a {
    font-size: 20px;
    transition: all 250ms;
    margin: auto;
    padding-left: 28%;
    bottom: 2%;
    text-decoration: none;
    color: #d7d7d7;
    width: 90%;
    opacity: none; }

.footer a {
  font-size: 20px;
  margin: auto;
  padding-left: 28%;
  text-decoration: none;
  color: #d7d7d7;
  width: 90%;
  opacity: none; }

.footer-blog {
  transform: translateY(100%); }

.ir a:hover {
  text-decoration: #d7d7d7;
  color: black;
  transform: scale(1.09);
  font-size: 22px;
  padding-bottom: 15px;
  padding-right: 15px; }

.linkfooter:hover {
  text-decoration: #d7d7d7;
  color: #35392d;
  transform: scale(1.09);
  font-size: i 0.5rem; }

@media screen and (max-width: 1000px) {
  .img-3 {
    display: none; }
  .img-4 {
    display: none; }
  .img-5 {
    display: none; }
  .footer {
    width: 100%;
    margin-top: 250px;
    border-radius: 10px; }
  .contenedor-footer {
    width: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto; }
  .footer-copyright {
    transform: translateX(-30%);
    color: #727272; } }

@media screen and (max-width: 769px) {
  .footer-contacto {
    margin-top: 570px; } }

@media screen and (max-width: 520px) {
  .ir {
    width: 10px;
    background-color: transparent; }
    .ir a {
      color: #0b0b0bee;
      opacity: 100%; }
  .footer-inicio {
    margin-top: -50px; } }

* {
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.slider-frame {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  overflow: hidden; }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out; }
    .slider-frame ul li {
      width: 100%;
      list-style: none; }

.slider-frame img {
  width: 100%; }

@keyframes slide {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.contacto {
  background-color: #d7d7d796;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .contacto h2 {
    transform: translateY(10px); }
  .contacto p {
    transform: translateY(7px); }
  .contacto .contacto_logo {
    width: 50px;
    align-items: center;
    position: relative;
    left: 70%; }

.h2con {
  border-radius: 0 0 30px 30px;
  background-color: #d7d7d7;
  opacity: 0.4;
  -webkit-box-shadow: 0px 6px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 20px 5px rgba(0, 0, 0, 0.75);
  height: 80px;
  width: 50%;
  padding-top: 80px;
  margin: 0 auto; }
  .h2con h2 {
    color: #0b0b0bee;
    text-align: center;
    font-size: 1.4rem;
    width: 90%;
    padding-left: 28px;
    position: relative;
    bottom: 70px; }

.imagen, .imagen2, .imagen3 {
  background-image: url(../imagenes/galeria/img14.jpg);
  background-size: cover;
  height: 300px;
  border: #d7d7d7a4 solid 2px; }

.imagen2 {
  background-image: url(../imagenes/galeria/img14.jpg); }

.imagen3 {
  background-image: url(../imagenes/galeria/img14.jpg);
  height: 400px;
  border-radius: 0 0 15px 15px; }

.slider-frame {
  padding-top: 20px; }
  .slider-frame ul {
    margin-bottom: 0; }

@media screen and (max-width: 1200px) {
  .imagen, .imagen2, .imagen3 {
    height: auto; }
  .imagen3 {
    height: 400px; } }

@media screen and (max-width: 992px) {
  .imagen2 {
    height: 300px; } }

@media screen and (max-width: 769px) {
  .imagen, .imagen2, .imagen3 {
    height: 300px; }
  .contacto {
    margin-left: 0 auto;
    position: relative;
    left: 5%; }
  .h2con {
    width: 60%;
    height: 100px; }
    .h2con h2 {
      font-size: large; } }

@media screen and (max-width: 400px) {
  .h2con {
    width: 65%; }
    .h2con h2 {
      font-size: medium; } }

.premio {
  border-radius: 40px 40px 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 75%;
  margin: auto;
  margin-top: 23%; }
  .premio h3 {
    padding-top: 8px; }

.imgcon {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 20px 20px;
  grid-template-areas: "img01 img02" "img03 img04"; }
  .imgcon .img01 {
    background-image: url(../imagenes/galeria/img14.jpg);
    background-size: cover;
    width: 100%;
    padding: 20px;
    grid-area: img01; }
  .imgcon .img02 {
    background-image: url(https://i.blogs.es/aa8bbb/nature-ttl-photographer-of-the-year-2021-overall-winner/840_560.jpg);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-area: img02; }
  .imgcon .img03 {
    background-image: url(https://i.blogs.es/a589aa/6317_8_21447_luistato_spain_professional_wildlifenature_2021/840_560.jpg);
    background-size: cover;
    display: grid;
    grid-area: img03; }
  .imgcon .img04 {
    background-image: url(https://i.blogs.es/30b441/sony-world-awards-2021-ganadores-nacionales-mireia-vilaplana/840_560.jpg);
    background-size: cover;
    display: grid;
    grid-area: img04;
    width: 100%; }

.div4 {
  margin: 0 auto; }

.conimg {
  flex-direction: column;
  height: 700px; }

@media screen and (max-width: 990px) {
  .imgcon {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img01" "img02" "img03" "img04";
    height: 100%; }
  .conimg {
    height: 1700px;
    width: 100%; } }

@media screen and (max-width: 880px) {
  .premio {
    height: 90px;
    text-align: center;
    width: 84%;
    margin: auto;
    margin-top: 20%; }
  .imgcon {
    height: 90%;
    width: 84%; } }

@media screen and (max-width: 680px) {
  .premio {
    width: 95%;
    margin: auto; }
  .imgcon {
    width: 95%; } }

@media screen and (max-width: 550px) {
  .imgcon {
    height: 75%; } }

@media screen and (max-width: 420px) {
  .premio {
    width: 100%;
    margin: auto;
    margin-top: 20%; }
  .imgcon {
    width: 100%;
    height: 65%; } }

.contenedorblog {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 100px;
  grid-template-areas: "parrafoblog" "parrafoblog2" "parrafoblog3"; }
  .contenedorblog .parrafoblog, .contenedorblog .parrafoblog2, .contenedorblog .parrafoblog3, .contenedorblog .parrafoblog4 {
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 30px;
    width: auto;
    height: 270px;
    -webkit-box-shadow: 0px 0px 100px 20px black;
    -moz-box-shadow: 0px 0px 100px 20px black;
    box-shadow: 0px 0px 100px 20px black;
    opacity: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedorblog .parrafoblog p, .contenedorblog .parrafoblog2 p, .contenedorblog .parrafoblog3 p, .contenedorblog .parrafoblog4 p {
      width: 90%;
      padding: 50px;
      color: #d7d7d7;
      font-size: 20px;
      text-align: center; }
  .contenedorblog .parrafoblog2 p {
    width: 90%;
    padding: 50px;
    color: #d7d7d7;
    font-size: 20px;
    text-align: center; }
  .contenedorblog .parrafoblog3 p {
    width: 90%;
    padding: 50px;
    color: #d7d7d7;
    font-size: 20px;
    text-align: center; }

.parrafoblog4 p {
  width: 90%;
  padding: 50px;
  color: #d7d7d7;
  font-size: 20px;
  text-align: center; }

.blogimg2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 500px; }
  .blogimg2 img {
    width: 70%; }

@media screen and (max-width: 540px) {
  .contenedorblog {
    width: 98%; }
    .contenedorblog .parrafoblog p, .contenedorblog .parrafoblog2 p, .contenedorblog .parrafoblog3 p, .contenedorblog .parrafoblog4 p {
      padding: 0; } }

@media screen and (max-width: 769px) {
  .blogimg2 {
    margin: 0 auto;
    margin-top: 0; }
    .blogimg2 img {
      width: 98%; } }

@media screen and (max-width: 840px) {
  .contenedorblog {
    margin-top: 200px; }
  .blogimg2 {
    margin-top: 650px; } }
