.contacto{
    background-color: $colorsecundariopacidad;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);    
    margin: auto;  
    border-radius: 10px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h2{
        transform: translateY(10px);
    }
    p{
        transform: translateY(7px);

    }
    .contacto_logo{
        width: 50px;
        
        align-items: center;
        position: relative;
        left: 70%;
        
        
    }

}
.h2con{
    border-radius: map-get($estilos, borde);
    background-color: map-get($estilos, color);
    opacity: map-get($estilos, opacidad);
    -webkit-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.75);
    height: 80px;
    width: 50%;
    padding-top: 80px;
    margin: 0 auto;
    
    
    

    h2 {
        color: #0b0b0bee;
        text-align: map-get($estilos, centro);
        font-size: map-get($estilos, tamaño);
        
        width: 90%;
        padding-left: 28px;
        position: relative;
        bottom: 70px;
        
        
    }
}

    .imagen{
        background-image: url(../imagenes/galeria/img14.jpg);
        background-size: cover;
        height: 300px;
        border: #d7d7d7a4 solid 2px;


    }
    .imagen2{
        @extend .imagen;
        background-image: url(../imagenes/galeria/img14.jpg);
    
    }
    .imagen3{
        @extend .imagen;
        background-image: url(../imagenes/galeria/img14.jpg);
        height: 400px;
        border-radius: 0 0 15px 15px;
    

    }
.slider-frame{
    padding-top: 20px;
    ul{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1200px){
    .imagen{
        height: auto;
    }
    .imagen3{
        height: 400px;

    }
}
@media screen and (max-width: 992px){
    .imagen2{
        height: 300px;
    }
}
@media screen and (max-width: 769px){
    .imagen{
        height: 300px;
    }
    .contacto{
        margin-left: 0 auto;
        position: relative;
        left: 5%;
    }
    .h2con{
        width: 60%;
        height: 100px;
        h2{
            font-size: large;
        }
    }


}
@media screen and (max-width: 600px){
    
}
@media screen and (max-width: 400px){
    .h2con{
        width: 65%;
        h2{
            font-size: medium;
        }
    }
}