
.footer{
    -webkit-box-shadow: 0px -70px 100px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -70px 100px 23px rgba(0,0,0,0.75);
    box-shadow: 0px -70px 100px 23px rgba(0,0,0,0.75);


}



.ir{
    width: 200px;
    height: 30px;
    background-color: #0b0b0bee;
    opacity: 70%;
    border-radius: 30px;
    position: absolute;
    left: 60%;
    bottom: 0.7%;
    
    a{
        font-size: 20px;
        
        margin: auto;
        padding-left: 28%;
        bottom: 2%;
        text-decoration: none;
        color: #d7d7d7;
        width: 90%;
        opacity: none;
        
    }
    
   
}
.footer a{
    font-size: 20px;
        
    margin: auto;
    padding-left: 28%;
    
    text-decoration: none;
    color: #d7d7d7;
    width: 90%;
    opacity: none;
}
.footer-blog{
    transform: translateY(300%);
}

@media screen and (max-width: 1000px){
    .img-3{
        display: none;
    }
    .img-4{
        display: none;
    }
    .img-5{
        display: none;
    }
    .footer{
        width: 100%;
        margin-top: 250px;
        border-radius: 10px;
    }
    .contenedor-footer{
        width: auto;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

   
    .footer-copyright{
        transform: translateX(-30%);
        color: #727272;
    }
}
@media screen and (max-width: 520px){
    .ir{
       width: 10px;
       background-color: transparent;
        
        a{
            color: #0b0b0bee;
            opacity: 100%;
        }
    }
}