.premio{
    border-radius: 10px 10px 0 0;
    background-color: white;
    -webkit-box-shadow: 0px -10px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -10px 22px 0px rgba(0,0,0,0.75);
box-shadow: 0px -10px 22px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 23%;
    
    h3{
  
       padding-top: 8px;
    } 

    
}
.barra1{
    height: 700px;
    width: 2.5%;
    background-color: white;
    position: absolute;
    left: 10%;
    
}
.barra2{
    height: 700px;
    width: 2.5%;
    background-color: white;
    position: absolute;
    right: 10%;
    
}
.barra3{
    height: 80px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
}
.imgcon{
    margin: 0 auto;
    width: 75%;
    height: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-auto-flow: dense;
    gap: 20px 20px; 
    
    
    
    grid-template-areas: 
      "img01 img02"
      "img03 img04"; 

     
        .img01{
            background-image: url(../imagenes/galeria/premio.jpg);
            background-size: cover;
            width: 100%;
            
            padding: 20px;
            grid-area: img01;
      }
      .img02{
          background-image: url(../imagenes/galeria/premio1.jpg);
          background-size: cover;
          width: 100%;
          
          
          display: grid;
          grid-area: img02;
      }
      .img03{
          background-image: url(../imagenes/galeria/premio3.jpg);
          background-size: cover;
          display: grid;
          grid-area: img03;
          
      }
      .img04{
          background-image: url(../imagenes/galeria/premios2.jpg);
          background-size: cover;
          display: grid;
          grid-area: img04;
          width: 100%;
          
      }

}
.div4{
    margin: 0 auto;
}
.conimg{
    
    flex-direction: column;
    
    height: 700px;
    
    

}
@media screen and (max-width: 990px){
    .imgcon{
        
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img01"
        "img02"
        "img03"
        "img04";
        height: 100%;
    }
    .conimg{
        height: 1700px;
        width: 100%;
        
        
    }
    .barra1{
        height: 1700px;
    }
    .barra2{
        height: 1700px;
    }
    
}
@media screen and (max-width: 880px){
    .premio{
        height: 90px;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 20%;
    }
    .imgcon{
        height: 90%;
        width: 84%;
    }
    .barra1{
        width: 3%;
        left: 6.2%;
        height: 1530px;
    }
    .barra2{
        width: 3%;
        right: 6.2%;
        height: 1530px;
    }
    .barra3{
        width: 90%;
    }
}
@media screen and (max-width: 680px){
    .premio{
        width: 95%;
        margin: auto;
    }
    .barra1{
        display: none;
    }
    .barra2{
        display: none;
    }
    .barra3{
        display: none;
    }
    .imgcon{
        width: 95%;
        
    }
}
@media screen and (max-width: 550px){
    .imgcon{
        height: 75%;
    }
}
@media screen and (max-width: 420px){
    .premio{
        width: 100%;
        margin: auto;
        margin-top: 20%;
    }
    .imgcon{
        width: 100%;
        height: 65%;
        
    }
}
    // .checkbtn{
    //     display: block;
    // }
    // ul{
    //     position: fixed;
    //     width: 100%;
    //     height: 100vh;
    //     background: #2c3e50;
    //     top: 80px;
    //     left: -100%;
    //     text-align: center;
    //     transition: all .5s;
    // }
    // nav ul li{
    //     display: block;
    //     margin: 50px 0;
    //     line-height: 30px;
    // }
    // nav ul li a{
    //     font-size: 20px;
    // }
    // li a:hover, li a.active{
    //     background: none;
    //     color: red;
    // }
    // #check:checked ~ ul{
    //     left:0;
    // }
