$colorsecundario: #d7d7d7;
$colorsecundariopacidad: #d7d7d796;
$colorprincipal: #0b0b0bee;

$estilos: (
    centro: center,
    tamaño: 1.4rem,
    color: $colorsecundario,
    opacidad: 0.5,
    decoracion: overline,
    borde: 0 0 30px 30px,
    

);



